@charset "utf-8";
/* CSS Document */
*{ margin:0px auto; padding:0px; font-family:"微软雅黑"; font-size:12px;}
ul{ list-style:none;}
a{ text-decoration:none;color: #666;}
.container{ width:1000px;}
.tit{
    overflow: hidden;
}
.header{
    width:1000px;
    /*height:120px;*/
    float:left;
}
.header p{
    float:right;
    margin-top:10px;
}
.header p a,.header p a:visited{ color:#333333;}
.headerTop{
    display: block;
    width: 100%;
    height: 1px;
    overflow: hidden;
    /* background: red; */
}
.q1 {
    background: #484848;
    height: 40px;
    line-height: 40px;
}
.q1_q{
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.q1_q em {
    float: left;
    font-style: normal;
    color: #b5b5b5;
    font-size: 12px;
    background: url(../images/hl_03.jpg) no-repeat left 10px;
    padding-left: 22px;
}
.q1_q i {
    float: right;
    font-style: normal;
    color: #b5b5b5;
}
.q1_q i a {
    color: #b5b5b5;
    margin: 0 5px;
    font-size: 12px;
    text-decoration: none;
}


.logo{
    width:1000px;
    /*height:120px;*/
    float:left;
    padding: 20px 0;
}
.logo a{
    display: block;
    width: 546px;
    height: 56px;
    /*background: red;*/
    position: relative;
    float: left;
}
.logo a img{
    margin: 6px;
}
.logo a h1{
    position: absolute;
    top: 7px;
    left: 74px;
    border-left: 1px solid #1f9bdc;
    padding-left: 6px;
    font-size: 19px;
    color: #1f9bdc;
}
.logo a h1 b{
    display: block;
    color: #cec6c67a;
}
.logo .conRig{
    float: right;
    /*width: 500px;*/
    height: 56px;
    /*background: oldlace;*/

}
.logo .conRig em {
    display: block;
    background: url(../images/tel.gif) no-repeat 0 0;
    padding: 6px 0 0 62px;
    height: 56px;
    font-size: 18px;
    color: #666;
    font-weight: bold;
    font-style:normal
}
.logo .conRig em b{
    display: block;
    font-size: 18px;
    color: #184998;
}


/*新的导航条样式*/
.w_nav .nav { height:48px; background:#008CD6;}
.w_nav .nav li { color:#FFF; line-height:48px; font-size:15px; background:url(../images/bk_16.jpg) no-repeat right center; width:111px; text-align:center; display:block; float:left; position:relative; list-style:none;}
.w_nav .nav li a { width:111px;font-size: 15px; height:48px; line-height:48px; color:#FFF; }
.w_nav .nav li a:hover { background:#006faa; -webkit-transition-property:none;-webkit-transition:300ms; -moz-transition:300ms; -ms-transition:300ms; -o-transition:400ms; transition:300ms; display:block; }
.w_nav .nav li:last-child { background:none;}
.w_nav .nav li a:hover:last-child  { background:#006faa; -webkit-transition-property:none;-webkit-transition:300ms; -moz-transition:300ms; -ms-transition:300ms; -o-transition:400ms; transition:300ms;}
.top { height:48px; background:#008CD6;}
.w_nav { width:1000px; margin:0 auto;}

.w_nav .nav .nav1 li { background:none;}
.w_nav .nav .nav1 { display:none; position:absolute; z-index:999; top:48px; left:0; width:111px; }
.w_nav .nav .nav1 li a { height:35px; line-height:35px; font-weight:normal; background:#008CD6; opacity:0.8;filter:alpha(opacity=80); margin-top:1px; display:block; font-size:13px;}

.w_nav .nav .nav1 li a:hover { height:35px; line-height:35px; font-weight:normal; background:#006FAA; opacity:0.8;filter:alpha(opacity=80); margin-top:1px; display:block; font-size:13px;}


.nav li .nav2 { display:none; position:absolute; z-index:999;  left:112px; width:111px; top:0px; margin-bottom:1px;}
.w_nav .nav .nav2 li a { height:35px; line-height:35px; font-weight:normal; background:#008CD6; opacity:0.8;filter:alpha(opacity=80); margin-top:1px; display:block; font-size:13px;}
.w_nav .nav .nav2 li a:hover { height:35px; line-height:35px; font-weight:normal; background:#006FAA; opacity:0.8;filter:alpha(opacity=80); margin-top:1px; display:block; font-size:13px;}


.fla{ width:100%; float:left;border-bottom: 3px solid #dedede;}

/* flexslider */
.flexslider{position:relative;height:330px;overflow:hidden;background:url(../images/loading.gif) 50% no-repeat;}
.slides{position:relative;z-index:1;}
.slides li{height:430px;}
.flex-control-nav{position:absolute;bottom:10px;z-index:2;width:100%;text-align:center;}
.flex-control-nav li{display:inline-block;width:14px;height:14px;margin:0 5px;*display:inline;zoom:1;}
.flex-control-nav a{display:inline-block;width:14px;height:14px;line-height:40px;overflow:hidden;background:url(../images/dot.png) right 0 no-repeat;cursor:pointer;}
.flex-control-nav .flex-active{background-position:0 0;}

.flex-direction-nav{position:absolute;z-index:3;width:100%;top:45%;}
.flex-direction-nav li a{display:block;width:50px;height:50px;overflow:hidden;cursor:pointer;position:absolute;}
.flex-direction-nav li a.flex-prev{left:40px;background:url(../images/prev.png) center center no-repeat;}
.flex-direction-nav li a.flex-next{right:40px;background:url(../images/next.png) center center no-repeat;}



.container{ width:1000px;}
.lei{ width:1000px; float:left;}
.fenl{
    background:transparent;
    width:100%;
    float:left;
    position: relative;
    top: -63px;
    z-index: 2;
    height: 0px;
}
.fenlin{
    background:#EFEFEF;
    width:1000px;
    margin: 0 auto;
    /*height: 120px;*/
}
.fenlin a{
    width: 139px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 18px;
    color: #000;
    background: #edab174d;
    display: inline-block;
}
.fenlin a h2{
    font-size: 18px;
    font-weight:normal;
}
.fenlin a:hover{
    color:#fff;
    background: #00a0e9;
}

.tec{ background:#EFEFEF; width:100%; float:left;}
.teca{ width:1000px; float:left; margin-top:45px;}
.teca h2{ width:1000px; float:left; text-align:center; font-size:34px;}


.ppe{ width:1000px; border-bottom:1px #CCCCCC solid; float:left; height:65px;}
.ppe h3{ text-align:center; width:200px; background:#FFFFFF; padding:5px; font-size:34px; margin-top:35px;}

.ppea{ width:1000px; float:left; margin-top:45px;}
.ppea p{ width:250px; float:left; text-align:center; margin-top:15px;}
.ppea p a,.ppea p a:visited{ display:block; text-align:center; line-height:25px; color:#333333;}
.ppea p a img{ width:220px; height:140px; border:1px #CCCCCC solid; padding:3px;}

.sy_01{
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.sy_01 ul {
    margin-top: 35px;
    width: 1200px;
}
.sy_01 ul li {
    float: left;
    width: 125px;
    margin-right: 50px;
    list-style: none;
}
.sy_01 ul li span a {
    text-align: center;
    display: block;
    font-size: 16px;
    color: #333;
}
.sy_01 ul li span a em {
    display: block;
    width: 23px;
    height: 1px;
    background: #999;
    margin: 0 auto;
    margin-top: 10px;
}
.sy_01 ul li span a h2 {
    font-weight: normal;
    margin-top: 12px;
    display: block;
    font-size: 16px;
}
.sy_01 ul li span a u {
    font-size: 9px;
    text-decoration: none;
    display: block;
    color: #c2c2c2;
}



.gei{ width:1000px; float:left; margin-top:25px;}
.geia{ width:310px; float:left;}
.geiaa{ width:310px; float:left;}
.geiaa h3{ width:310px; float:left; line-height:35px; border-bottom:1px #CCCCCC solid; font-size:16px;}
.geiaa h3 i{ font-style:normal; padding-left:5px; font-family:"Courier New", Courier, monospace; font-size:14px;}
.geiab{ width:310px; float:left; margin-top:10px;}
.geiab p{ line-height:26px; color:#333333; font-size:14px;}
.geiab p a,.geiab p a:visited{ color:#019BDC; font-size:14px;}

.geiac{ width:310px; float:left;}
.geiaca{ width:310px; float:left; margin-top:15px; border-bottom:1px #CCCCCC dotted; padding-bottom:15px;}
.geiaca span{ display:block; float:left; width:100px;}
.geiaca span img{ width:80px; height:70px; border:1px #CCCCCC solid;}
.geiaca h4 a{ width:210px; float:left; font-size:14px; color:#333333;}
.geiaca p{ width:210px; float:left; line-height:25px; margin-top:5px;}
.geiaca p a,.geiaca p a:visited{ color:#019BDC; font-size:14px;}

.geiad{ width:310px; float:left; margin-top:15px;}
.geiad a img{ border:none; width:310px;}

.uia{ width:100%; float:left;}





/*yas*/
.sy_02 { background:url(../images/fw_02.jpg) repeat-x; height:406px; margin-top:35px;}
.sy_02_lm { background:url(../images/fw_03.jpg) no-repeat center top; height:406px;}
.sy_02_qw { padding-top:50px; position:relative; height:336px;}
.sy_02_qw em { position:absolute;}
.sy_02_qw .sy_02_dy { left:68px; position:absolute; top:183px;}
.sy_02_qw .sy_02_de { left:155px; position:absolute; top:285px;}
.sy_02_qw .sy_02_ds { left:256px; position:absolute; top:186px;}
.sy_02_qw .sy_02_dshi { left:372px; position:absolute; top:285px;}
.sy_02_qw .sy_02_dw { left:572px; position:absolute; top:285px;}
.sy_02_qw .sy_02_dl { left:675px; position:absolute; top:186px;}
.sy_02_qw .sy_02_dq { left:762px; position:absolute; top:285px;}
.sy_02_qw .sy_02_db { left:876px; position:absolute; top:186px;}

/*yas*/





.sy_04 { position:relative; width:1000px; margin:0 auto;}
.sy_04_lm { position:absolute;}
.sy_04_lm em { margin-top:35px; text-align:center; display:block;}
.xiant { width:50%; background:#d4d4d4; height:1px; position:absolute;  right:0px; position:absolute; margin-top:90px; margin-right:-50px; float:left;}


.sy_05 { height:470px; background:#F4F4F4; margin-top:68px; padding-top:15px; width:100%; float:left;}
.sy_05_we { width:1500px; float:left;}
.sy_05_lm dl { float:left; width:450px; margin-right:35px; margin-right:100px; margin-top:25px; }
.sy_05_lm dl dt { width:117px; float:left; margin-right:15px;}
.sy_05_lm dl dd h4 { font-size:20px; font-weight:bold; color:#363636; margin-top:12px;}
.sy_05_lm dl dd p { margin-top:6px;}
.sy_05_we dl dd span a { color:#008CD6; margin-right:10px; margin-top:5px; display:block;}
.sy_05_we dl dd span a:hover { color:#0073af;}
.sy_05_we dl dd h4 a{ font-size:20px; font-weight:bold; color:#363636; margin-top:12px;}

.yoa{ width:100%; float:left; margin-top:20px;}

.clear { clear:both;_overflow:hidden;_height:0px;}
.q1_q,.q2,.q3_nav,.sy_01,.sy_02_qw,.sy_03,.ggao,.sy_04_lm,.sy_05_lm,.sy_06_lm,.sy_07,.sy_08_lm,.sy_08_ds,.sy_09_wz,.sy_10,.sy_11_lm,.sy_12,.sy_13,.sy_16,.ft_xm,.ny_box { width:1000px; margin:0 auto; overflow:hidden;} 

.sy_ss_box{
    width: 100%;
    float: left;
}
.sy_ss{
    margin: 0 auto;
    width: 1000px;
}
.sy_ss_left {
    float: left;
    padding: 20px 0px;
}
.sy_ss_left p {
    color: #d8d8d8;
}
.sy_ss_left p span {
    color: #666;
}
.sy_ss_left h3 a {
    margin: 0 8px;
    text-decoration: none;
    color: #666;
    display: inline-block;
}
.sy_ss_right {
    float: right;
    padding: 20px 0px;
}
.sy_srk {
    background: url(../images/ss.png) no-repeat left center;
    width: 171px;
    height: 23px;
    border: none;
    padding-left: 15px;
    line-height: 23px;
    color: #ccc;
    float: left;
}
.sy_sre {
    float: left;
}

.cae{
    background:url(../images/hengfu_img.jpg) no-repeat top center;
    width:100%;
    /*height:380px;*/
    float:left;
    margin-bottom: 30px;
}

.caea{ width:1000px; border-bottom:1px #CCCCCC solid; float:left; height:65px;}
.caea h3{ text-align:center; width:213px; background:#FFFFFF; padding:5px; font-size:34px; margin-top:35px;}


.footer{ background:#019BDC; width:100%; float:left; height:120px;}
.footera{ width:1000px;}
.footera p{ width:1000px;padding-top:15px; float:left; text-align:center; line-height:28px; margin-top:15px; color:#FFFFFF;}


.left{ width:220px; float:left; padding-bottom:25px;}
.lefta{ background:#019BDC; width:220px; height:40px; float:left; margin-top:10px;}
.lefta h3{ float:left; padding-left:20px; line-height:40px; font-size:14px; color:#FFFFFF;}
.leftb{ width:218px; border:1px #E7E7E7 solid; float:left;}
.leftba{ width:200px; float:left; padding-left:9px; margin-top:10px; padding-bottom:10px;}
.leftba ul{ width:200px; float:left; list-style:none;}
.leftba ul li{ display:block; float:left; width:200px; line-height:32px; background:#F1F1F1; margin-top:5px;}
.leftba ul li a,.leftba ul li a:visited{ color:#333333; text-decoration:none; display:block; width:180px; background:url(../../images/sky/gif-0170.gif) no-repeat left center; padding-left:20px; margin-left:10px;}

.leftbb{ width:200px; float:left; padding-left:9px; margin-top:10px; padding-bottom:10px;}
.leftbb ul{ width:200px; float:left; list-style:none;}
.leftbb ul li{ display:block; float:left; width:200px; line-height:32px; border-bottom:1px #CCCCCC dotted;}
.leftbb ul li a,.leftbb ul li a:visited{ color:#333333; text-decoration:none; font-size:12px; background:url(../../images/sky/arrow.jpg) no-repeat left center; padding-left:20px;}
.leftbb p{ width:200px; float:left; line-height:28px;}



.right{ width:750px; float:left; padding-bottom:25px; padding-left:30px;}
.righta{ background:#019BDC; width:750px; height:40px; float:left; margin-top:10px;}
.righta h3{ float:left; padding-left:20px; line-height:40px; font-size:14px; color:#FFFFFF; width:200px;}
.righta span{ display:block; float:right; padding-right:5px; color:#FFFFFF; line-height:40px;}
.righta span a,.righta spana a:visited{ color:#FFFFFF; text-decoration:none;}
.rightb{ width:748px; border:1px #E7E7E7 solid; float:left;}
.rightc{ width:700px; float:left; padding-left:24px; margin-top:10px; padding-bottom:10px;line-height:28px;}
.rightc p{ line-height:28px; margin-top:10px; color:#333333;}
.rightc div{ line-height:28px; margin-top:10px; color:#333333;}

.rightd{ width:700px; float:left; padding-left:24px; margin-top:10px; padding-bottom:10px;}
.rightd p{ width:700px; float:left; border-bottom:1px #CCCCCC dotted;}
.rightd p a,.rightd p a:visited{ display:block; float:left; line-height:32px; color:#333333; text-decoration:none; background:url(../../images/sky/arrow.jpg) no-repeat center left; padding-left:15px;}
.rightd p a:hover{ color:#019BDC;}
.rightd p span{ display:block; float:right; line-height:32px; color:#666666;}

.righte{ width:700px; float:left; padding-left:24px; margin-top:10px;}
.righte p{ width:233px; float:left; margin-top:10px; text-align:center;}
.righte p a,.righte p a:visited{ display:block; line-height:25px; color:#333333; text-align:center;}
.righte p a img{ width:210px; height:140px; border:1px #CCCCCC solid; padding:3px;}

.rightf{ width:700px; float:left; text-align:center; margin-top:25px; padding-bottom:25px; color:#333333;}


#ti{ width:700px; float:left; text-align:center; font-size:24px; margin-top:25px;}
#tia{ width:700px; float:left; text-align:center; margin-top:25px; padding-bottom:20px;}

.rightg{ width:700px; float:left; margin-top:25px; line-height:25px; padding-left:24px; padding-bottom:25px; color:#333333;}
.rightg a,.rightg a:visited{ color:#333333; text-decoration:none;}



/*产品特效*/

.case-content{overflow:hidden;margin:50px auto 50px auto;width:1000px; float:left;}
.case-item{float:left;margin:30px 20px;margin-bottom:20px}
.ih-item{position:relative;-webkit-transition:all .35s ease-in-out;-moz-transition:all .35s ease-in-out;transition:all .35s ease-in-out}
.ih-item,.ih-item *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.ih-item a{color:#333}
.ih-item a:hover{text-decoration:none}
.ih-item img{width:100%;height:100%}
.ih-item.circle,.ih-item.circle .img{position:relative;width:210px;height:210px;border-radius:50%}
.ih-item.circle .img:before{position:absolute;display:block;content:'';width:100%;height:100%;border-radius:50%;box-shadow:inset 0 0 0 16px rgba(255,255,255,.6),0 1px 2px rgba(0,0,0,.3);-webkit-transition:all .35s ease-in-out;-moz-transition:all .35s ease-in-out;transition:all .35s ease-in-out}
.ih-item.circle .img img{border-radius:50%}
.ih-item.circle .info{position:absolute;top:0;bottom:0;left:0;right:0;text-align:center;border-radius:50%;-webkit-backface-visibility:hidden;backface-visibility:hidden}
.ih-item.square{position:relative;width:316px;height:216px;border:8px solid #fff;box-shadow:1px 1px 3px rgba(0,0,0,.3)}
.ih-item.square .info{position:absolute;top:0;bottom:0;left:0;right:0;text-align:center;-webkit-backface-visibility:hidden;backface-visibility:hidden}
.ih-item.circle.effect1 .spinner{width:220px;height:220px;border:10px solid #ecab18;border-right-color:#1ad280;border-bottom-color:#1ad280;border-radius:50%;-webkit-transition:all .8s ease-in-out;-moz-transition:all .8s ease-in-out;transition:all .8s ease-in-out}
.ih-item.circle.effect1 .img{position:absolute;top:10px;bottom:0;left:10px;right:0;width:auto;height:auto}
.ih-item.circle.effect1 .img:before{display:none}
.ih-item.circle.effect1.colored .info{background:#1a4a72;background:rgba(26,74,114,.6)}
.ih-item.circle.effect1 .info{top:10px;bottom:0;left:10px;right:0;background:#333;background:rgba(0,0,0,.6);opacity:0;-webkit-transition:all .8s ease-in-out;-moz-transition:all .8s ease-in-out;transition:all .8s ease-in-out}
.ih-item.circle.effect1 .info h3{color:#fff;text-transform:uppercase;position:relative;letter-spacing:2px;font-size:24px;margin:0 30px;padding:55px 0 0;height:110px;text-shadow:0 0 1px white,0 1px 2px rgba(0,0,0,.3)}
.ih-item.circle.effect1 .info p{color:#bbb;padding:10px 5px;font-style:italic;margin:0 30px;font-size:12px;border-top:1px solid rgba(255,255,255,.5)}
.ih-item.circle.effect1 a:hover .spinner{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-ms-transform:rotate(180deg);-o-transform:rotate(180deg);transform:rotate(180deg)}
.ih-item.circle.effect1 a:hover .info{opacity:1}

/*产品特效结束*/

.sy_07{
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.sy_07_top {
    margin-top: 70px;
    padding-top: 15px;
}
.sy_07_top ul {
    height: 57px;
    background: #F3F3F3;
    line-height: 57px;
}
.sy_07_top ul li {
    float: left;
    width: 125px;
    text-align: center;
    font-size: 16px;
    background: url(../images/xt_69.jpg) no-repeat right center;
    display: block;
}
.sy_07_top ul li a{
    text-decoration: none;
    color: #666;
    font-size: 18px;
}
.sy_07_box {
    border: 1px solid #EBEBEB;
    width: 998px;
    border-bottom: 0px;
    margin-top: 35px;
}
.sy_07_tub {
    width: 805px;
    float: left;
}
.sy_07_tub ul li {
    float: left;
}
.sy_07_tub ul li {
    border-right: 1px solid #EBEBEB;
    border-bottom: 1px solid #EBEBEB;
    height: 120px;
    overflow: hidden;
    width: 160px;
}
.sy_07_dianji {
    width: 193px;
    float: left;
    border-bottom: 1px solid #ebebeb;
    height: 241px;
    overflow: hidden;
}


/*企业动态和问答模块 开始*/
.dongtai{
    background: #fff;
    width: 100%;
}
.wenda{width:1000px;margin: 0 auto;}
.wenda .news {float:left;}
.wenda .wd {float:right;}
.news {
    width: 656px;
    font-size: 0;
    /*padding: 52px 0 60px;*/
}
.news_t, .wd_t {
    background: #2469be;
    height: 42px;
    line-height: 42px;
    overflow: hidden;
}
.news_t span, .wd_t span {
    float: right;
    padding: 0 15px 0 0;
}
.news_t span a, .wd_t span a {
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}
.news_t ul{
    display: block;
    list-style-type: disc;
    list-style: none;
    /*-webkit-margin-before: 1em;*/
    /*-webkit-margin-after: 1em;*/
    /*-webkit-margin-start: 0px;*/
    /*-webkit-margin-end: 0px;*/
    /*-webkit-padding-start: 40px;*/
}
.news_t ul li {
    width: 168px;
    float: left;
    border-right: #fff 1px solid;
}
.news_t ul li a {
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    display: block;
    width: 168px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    overflow: hidden;
}
.news_t ul li.cur a, .news_t ul li a:hover {
    background: #1f9bdc54;
    text-decoration: none;
}
.news dl {
    width: 334px;
    padding: 18px 0 0;
    float: left;
    overflow: hidden;
}
.news dt {
    width: 334px;
}
.news dt img {
    width: 334px;
    height: 173px;
}
.news dd {
    overflow: hidden;
    width: 334px;
    padding: 10px 0 0;
}
.news dd h5 {
    height: 50px;
    line-height: 25px;
    overflow: hidden;
}
.news dd p {
    font-size: 14px;
    color: #666;
    height: 100px;
    line-height: 25px;
    overflow: hidden;
    padding: 5px 0 0;
}
.news dd span {
    display: block;
    padding: 5px 0 0;
}
.news_m ul {
    width: 300px;
    display: block;
    float: left;
    padding: 14px 0 0 18px;
    overflow: hidden;
}
.news_m ul li {
    height: 32px;
    line-height: 32px;
    border-bottom: #d2d2d2 1px dashed;
    overflow: hidden;
    background: url(../images/news_ico.gif) no-repeat 5px 15px;
}
.news_m ul li a {
    font-size: 14px;
    color: #232323;
    padding: 0 0 0 15px;
}
.wd {
    width: 338px;
    font-size: 0;
    /*padding: 52px 0 60px;*/
}
.news_t, .wd_t {
    background: #1f9bdcb0;
    height: 42px;
    line-height: 42px;
    overflow: hidden;
}
.news_t span, .wd_t span {
    float: right;
    padding: 0 15px 0 0;
}
.news_t span a, .wd_t span a {
    font-size: 14px;
    color: #fff;
    font-weight: bold;
}
.wd_t a {
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    padding: 0 0 0 15px;
}
.wd #cjwt{
    overflow: hidden;
    width: 338px;
    height: 423px;
}
table {
    font-size: inherit;
    font: 100%;
    border-collapse: collapse;
}
.wd dl {
    width: 500px;
    margin: 0 auto;
    height: 110px;
    padding: 15px 0 0;
    border-bottom: #c7c7c7 1px dotted;
    overflow: hidden;
}
.wd dt {
    background: url(../images/wen.gif) no-repeat;
    padding-left: 30px;
    height: 25px;
    line-height: 25px;
    overflow: hidden;
}
.wd dd {
    font-size: 14px;
    color: #666;
    background: url(../images/da.gif) no-repeat 0 5px;
    padding: 3px 0 0 30px;
    line-height: 24px;
    height: 72px;
    overflow: hidden;
}
/*企业动态和问答模块 结束*/


/*网站分站 开始*/
.crty{
    width: 1000px;
    margin: 0 auto;
    border: 1px solid #eee;
    padding: 10px 10px 30px 10px;
    box-sizing: border-box;
}
.crty h1{
    margin: 10px 0;
    border-bottom: 1px solid #eee;
    padding-bottom: 3px;
}
.crty h1 a{
    float: right;
}
.caeg{
    margin-bottom: 20px;
    margin-top: 20px;
}
/*网站分站 结束*/


/* 分页样式*/
#pages { padding:14px 0 10px; font-family: "微软雅黑";}
#pages a { display:inline-block; height:22px; line-height:22px; background:#fff; border:1px solid #e3e3e3; text-align:center; color:#333; padding:0 10px}
#pages a.a1 {width:56px; padding:0 }
#pages a:hover { background:#f1f1f1; color:#000; text-decoration:none }
#pages span { display:inline-block; height:22px; line-height:22px; background:#5a85b2; border:1px solid #5a85b2; color:#fff; text-align:center;padding:0 10px}
.page .noPage { display:inline-block; width:56px; height:22px; line-height:22px; background:url(../../images/sky/../../img/icu/titleBg.png) repeat-x 0 -55px ; border:1px solid #e3e3e3; text-align:center; color:#a4a4a4; }

/*公司视频*/
.sy_11_box {
    background: #FFFFFF;
    /*height: 700px;*/
    /*margin-top: 35px;*/
}
.sy_11 {
    position: relative;
    width: 1000px;
    margin: 0 auto;
}
.xiant_left {
    width: 40%;
    background: #d4d4d4;
    height: 1px;
    position: absolute;
    left: 0px;
    position: absolute;
    margin-top: 105px;
    margin-left: -50px;
}
.sy_12 {
    padding: 20px 0;
    overflow: hidden;
}
.sy_12_left {
    width: 497px;
    float: left;
    margin-right: 45px;
}
.sy_12_sp {
    width: 491px;
    border: 3px solid #CCC;
}
.sy_12_sp p {
    background: #E0E0E0;
    border: 1px solid #F4F4F4;
    padding: 20px 20px;
}
.sy_12_sp p img {
    float: left;
    margin-right: 20px;
    margin-top: -5px;
}
.sy_12_right {
    width: 458px;
    float: left;
}
.sy_12_right ul {
    margin-top: -26px;
}
.sy_12_right ul li {
    margin-top: 11px;
}
.sy_12_right ul li em {
    font-style: normal;
    text-align: center;
    display: block;
    border-right: 1px solid #CCC;
    width: 90px;
    float: left;
    font-style: normal;
    margin: 10px 10px 0 0;
}

.sy_12_right ul li em {
    color: #828282;
}
.sy_12_right ul li em span {
    font-size: 35px;
    font-weight: normal;
    color: #008CD6;
    font-family: "Arial";
}
.sy_12_right ul li i a {
    display: block;
    width: 317px;
    float: left;
    font-style: normal;
    padding: 10px 15px;
    text-decoration: none;
    color: #666;
}
.sy_12_right ul li i a:hover { background:#008CD6; cursor:pointer;  color:#FFF; display:block; padding:10px 15px;}
.sy_12_right ul li i a h4 {
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
}
.sy_12_right ul li i a p {
    font-size: 12px;
    margin-top: 5px;
}



/*文章列表*/
.sy_13 {
    margin-top: 55px;
}
.sy_13 a{
    text-decoration: none;
    color: #666;
}
.sy_13_xw {
    width: 275px;
    float: left;
    padding-right: 43px;
}
.sy_13_xw em,.sy_14_xw em,.sy_15_xw em{
    overflow: hidden;
    display: block;
}
.sy_13_xw em b {
    float: right;
    font-style: normal;
    font-weight: normal;
    border-left: 1px dashed #CCC;
    padding-left: 10px;
    margin-top: 10px;
}
.sy_13_xw em h3 {
     font-size: 20px;
     font-style: normal;
     padding-bottom: 5px;
     border-bottom: 2px solid #008CD6;
     width: 80px;
    float: left;
 }
.sy_13_xw ul {
    margin-top: 15px;
}
.sy_13_xw ul li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 3px;
    background: url(../images/xw_01.png) no-repeat left center;
    text-indent: 16px;
}
.sy_14_xw {
    width: 275px;
    float: left;
    padding: 0 43px;
    border: 1px dashed #CCC;
    border-top: 0px;
    border-bottom: 0px;
}
.sy_14_xw em b {
    float: right;
    font-style: normal;
    font-weight: normal;
    border-left: 1px dashed #CCC;
    padding-left: 10px;
    margin-top: 10px;
}
.sy_14_xw em h3 {
    font-size: 20px;
    font-style: normal;
    padding-bottom: 5px;
    border-bottom: 2px solid #008CD6;
    width: 80px;
    float: left;
}
.sy_14_xw ul {
    margin-top: 15px;
}
.sy_14_xw ul li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 3px;
    background: url(../images/xw_01.png) no-repeat left center;
    text-indent: 16px;
}

.sy_15_xw {
    width: 275px;
    float: left;
    padding-left: 43px;
}
.sy_15_xw em b {
    float: right;
    font-style: normal;
    font-weight: normal;
    border-left: 1px dashed #CCC;
    padding-left: 10px;
    margin-top: 10px;
}
.sy_15_xw em h3 {
    font-size: 20px;
    font-style: normal;
    padding-bottom: 5px;
    border-bottom: 2px solid #008CD6;
    width: 80px;
    float: left;
}
.sy_15_xw ul {
    margin-top: 15px;
}
.sy_15_xw ul li {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 30px;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 3px;
    background: url(../images/xw_01.png) no-repeat left center;
    text-indent: 16px;
}

/*您是不是关心以下问题呢*/
.sy_03{
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
}
.sy_03 h4 {
    font-size: 25px;
    text-align: center;
    margin-top: 35px;
    font-weight: bold;
}
.sy_03 em {
    text-align: center;
    display: block;
    font-style: normal;
    font-size: 10px;
    color: #c3c3c3;
}
.sy_03 ul {
    width: 1200px;
    margin-top: 25px;
}
.sy_03 ul li {
    width: 234px;
    float: left;
    margin-right: 21px;
    list-style: none;
}
.sy_03 ul li em {
    background: url(../images/wt2_56.jpg) no-repeat;
    width: 234px;
    height: 223px;
    padding-top: 20px;
}
.sy_03 ul li h3{
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    font-weight: normal;
}
.sy_03 ul li p {
    font-size: 12px;
    color: #7a7a7a;
    margin-top: 10px;
}


.sy_03 ul li i {
    height: 25px;
    line-height: 25px;
    border-top: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
    width: 234px;
    display: block;
    font-style: normal;
    font-size: 12px;
    margin-top: 16px;
    font-family: "Arial";
}
.sy_03 ul li h3 a {
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    color: #008cd6;
    display: block;
}


.rightf{}
.pagination{
    margin: 0 auto;
}
.pagination li{
    float: left;
    padding: 0 10px;
    line-height: 22px;
    height: 22px;
    border: 1px solid #e3e3e3;
    margin: 0 2px;
}
.pagination li.active{
    background: #5a84b3;
    color: #fff;
}